.container {
  max-width: 350px;
  margin: 20px auto;
  border: 1px solid rgb(0, 150, 150, 0.3);
  border-radius: 20px;
  box-shadow: 2px 1px 2px 2px rgb(0, 150, 150, 0.3);
}

.title {
  display: flex;
  justify-content: center;
}

.statList {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  justify-content: space-around;
  border-top: 1px solid rgb(0, 150, 150, 0.3);
}

.statItem {
  display: block;
}

.label {
  display: block;
  text-align: center;
}

.percentage {
  margin-top: 5px;
  display: block;
  text-align: center;
}
